{% extends 'base.html' %}

{% block content %}

<div class='col-md-6 offset-md-3'>

    <h1> Filmes </h1>
    {% if movies %}

    <ul>
        {% for movie in movies %}
        <a href="{% url 'movie' id=movie.id %}">
            <li>
                {{ movie.movie_name }} <br />
                <img src="{{movie.cover_image.url}}" alt="{{movie.movie_name}}"><br />
                <a href="{{ movie.trailer_link }}"> {{ movie.trailer_link }} </a> <br />
            </li>
        </a>
        {% empty %}
            <li>Nenhum filme encontrado</li>
        {% endfor %}
    </ul>

    {% endif %}
</div>

{% endblock %}